$point-color: rgb(18, 143, 200);

$title_blue: rgb(8, 70, 99);

$button_blue: rgba(8, 70, 99, 0.7);

$light_blue: #84c0d7;

$medium_blue: #5a74a3;

$error_red: rgba(175, 46, 37, 0.879);

$yellow: rgb(255, 227, 76);

$header-font: 'Do Hyeon', sans-serif;

$input-padding: 5px;
