$point-color: rgb(18, 143, 200); 

$title_blue: rgb(8, 70, 99); 

$button_blue :  rgba(8, 70, 99, .7); 

$light_blue : rgb(132, 192, 215);

$medium_blue : rgb(90, 116, 163);

$medium_blue-text : rgba(90, 116, 163, .7);

$error_red: rgba(175, 46, 37, 0.879);

$yellow: rgb(255, 227, 76);

$green: rgb(0, 149, 50);

$header-font: 'Do Hyeon', sans-serif;

$input-padding: 5px;
