@import './_variables.scss';

.cart-item {
  display: block;
  margin: 8px;
  margin-left: 20px;
  padding: 10px;
  width: 500px;
  height: 140px;
  box-shadow: 0px 0px 1rem rgb(206, 203, 203);
  margin-left: 100px;
}
.cartitem-List {
  display: inline-flex;
}
.cartitem-img {
  margin: 5px;
  padding: 5px;
  height: 110px;
  width: 100px;
}
.cart-summary {
  margin-left: 50px;
}
.cartitem-info {
  display: inline-flex;
}

.cartitem-quantity {
  width: 50px;
  background-color: rgb(218, 220, 230);
}

.cartitem-info {
  margin-left: 20px;
}

.cartitem-quantity {
  width: 100px;
  height: 20px;
}

.cart-container {
  display: flex;
  position: relative;
  max-width: 1800px;
}

.cartitem-name {
  font-weight: 700;
}
