@keyframes rotateLogo {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes scaleController {
  from {
    transform : none;
  }
  to {
    transform : scale(0.98)
  }
}

a {
  color : inherit;
  text-decoration: none;
  &:hover {
    color : rgb(22, 56, 156);
    animation: scaleController .1s linear;
  }
}

h3 {
  margin-bottom : 5px;
}
.footer-container {
  position: relative;
  z-index: 1040;
  font-weight: 400;
  margin : 1rem 0;
  display: flex;
  justify-content: space-around;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section > a {
    margin-top : 6px;
    font-size :13px;
  }

  section:nth-child(1) {
    display : flex;
    flex-wrap: nowrap;
    div {
      font-size : 11px;
      margin: 1.5px 0;
    }
    .jigutory-logo {
      width : 70px; 
      animation : rotateLogo 5s linear infinite;
    }
    .footer-address-wrapper {
      display: flex;
      align-items: center;
        .pin-logo {
          margin-right : 5px;
        }
      div {
        font-size : 11px;
      }
    }
  }
  section:nth-child(2) {
    display : flex;
    flex-wrap: nowrap;
  }
  section:nth-child(3) {
    display : flex;
    flex-wrap: nowrap;
    a{
      display: flex;
    }

  }
}

.github-logo {
  width : 17px;
  height : 17px;
  margin-right : 5px;
}