@import './_variables.scss';


#color-box {
  background-color: $medium-blue;
  height: 200px;
  width : 100%;
  position : absolute;
  z-index: -1;
}
#mypage-container {
  color : black;
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
}

#mypage-wholebox {
  display: flex;
  justify-content: center;
  width : 70%;
}

#mypage-left-box, 
#mypage-right-box {
  padding : 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

#mypage-left-box {
  margin-right : 13px;
  img {
    width : 8rem;
    height: 8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  .mypage-userinfo-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    .mypage-userinfo-username {
      font-weight: 600;
    }
  }
}

#mypage-right-box {
  div {
    // top-middle-bottom 사이 간격 띄울때 여기서 margin 으로 조절하기
    margin : 5px;
  }
}

// right-box 안에 컨테이너 늘어나면 여기 추가
#mypage-container-top,
#mypage-container-second  {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius : 5px;
  padding : 8px;
}

.mypage-userinfo-mylevel, 
.mypage-total-user {
  // border : 1px solid black;
  display: flex;
  justify-content: space-around;
  padding : 5px;
}

.mypage-userinfo-mylevel-section,
.mypage-total-user-section {
  border : 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mypage-box-subtitle {
  margin-bottom : 5px;
  font-size : 14px;
  font-weight: 500;
  color : rgba(0, 0, 0, 0.5);
  border-bottom : 1px solid rgba(0, 0, 0, 0.1);
}

//-----------------------------------------------

.mypage-container-bottom {
  display: flex;
  justify-content: center;

  .mypage-badge {
    display: flex;
    flex-direction: column;
    width: 770px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;

    .mypage-badge-title {
      display: flex;
      font-size: 20px;
      font-weight: 700;
      padding: 13px 0 13px 15px;
      border-bottom: 1px solid black;
    }

    .mypage-badge-list {
      .mypage-badge-standard {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        justify-content: space-around;
        margin-top: 15px;
      }

      .mypage-badge-image {
        display: flex;
        flex-direction: row;

        img {
          width: 60px;
          height: 60px;
          margin-right: 90px;
          margin-top: 20px;
        }

        .mypage-badge-image-one {
          margin-left: 50px;
        }
      }
    }
  }
}

#mypage-badge-modal {
  position: absolute;
  left: 120px;
  top: 700px;
  max-width: 700px;
  width: 100%;
  height: 170px;
  margin: 15px;
  padding: 0px;
  align-items: center;
  text-align: center;
  border: 1px solid black;

  .mypage-badge-modal-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: 100%;
    justify-content: center;

    .mypage-badge-modal-close {
      position: absolute;
      top: 0;
      align-self: flex-end;
      color: $medium_blue;
      padding: 10px;
      font-size: 25px;
      background-color: transparent;
      &:hover {
        color: $error-red;
        transform: scale(0.92);
      }
    }

    .mypage-badge-modal-info-name {
      position: absolute;
      top: 30px;
      align-self: flex-start;
      padding: 0px;
      margin: 0 0 30px 30px;
      font-size: 17px;
      font-weight: 700;
    }

    .mypage-badge-modal-info-description {
      width: 500px;
      padding: 0px;
      margin: 50px 0 0 30px;
      text-align: left;
      font-size: 15px;
      line-height: 160%;
    }

    img {
      position: absolute;
      top: 50px;
      right: 0;
      align-self: flex-end;
      width: 140px;
      height: 100px;
      padding: 0px;
      margin: 0 15px 0 0;
    }
  }
}

.badgeHide {
  opacity: 0.4;
}
