@import './_variables.scss';

.mypage-container {
  height: 100vh;
  padding: 20px;
}
.mypage-container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mypage-userinfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 260px;
    margin: 25px;

    .mypage-userinfo-left {
      display: flex;
      width: 260px;
      border: 1px solid black;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        padding: 10px;
      }
    }

    .mypage-userinfo-right {
      display: flex;
      flex-direction: column;
      width: 220px;
      border: 1px solid black;
      justify-content: center;

      .mypage-userinfo-level,
      .mypage-userinfo-name {
        display: flex;
        flex-direction: row;
        width: 190px;
        padding: 2px;
        margin: 10px;
        text-align: center;
        border: 1px solid black;

        .mypage-userinfo-title {
          width: 60px;
          height: 30px;
          float: none;
          padding-right: 4px;
          border-right: 1px solid black;
        }

        .mypage-userinfo-content {
          padding-left: 10px;
        }
      }

      button {
        font-size: 14px;
        width: 190px;
        padding: 9px;
        margin: 10px;
        text-align: center;
        border: 1px solid black;
      }
    }
  }

  .mypage-eco {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 260px;
    border: 1px solid black;
    justify-content: center;
    margin: 25px;

    div,
    button {
      padding: 10px;
      margin: 10px;
      text-align: center;
    }
  }
}

.mypage-container-bottom {
  display: flex;
  justify-content: center;

  .mypage-badge {
    display: flex;
    flex-direction: column;
    width: 770px;
    height: 240px;
    border: 1px solid black;
    margin: 30px;

    .mypage-badge-title {
      display: flex;
      font-size: 20px;
      font-weight: 700;
      padding: 13px 0 13px 15px;
      border-bottom: 1px solid black;
    }

    .mypage-badge-list {
      display: flex;
      height: 150px;
      justify-content: center;
      align-items: center;

      div {
        padding: 50px;
      }
    }
  }
}
