@import './_variables.scss';

@keyframes RotateLogo {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

#nav {
  position: fixed;
  display: flex;
  width: 100%;
  // height: 90px;
  z-index: 1050;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  text-align: center;
  // border-bottom : 1px solid rgba(0, 0, 0, 0.1);
}

.nav-logo {
<<<<<<< HEAD
  padding-left : 0;
=======
  padding-left: 0;
>>>>>>> 38ca52a7b0e6c531de375256b4b66051a2caa2e0
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  animation: RotateLogo 5s linear infinite;
  // border : 1px solid red;
}

#nav_header > a {
  // border : 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.nav-title {
  // position: absolute;
  // top: 30px;
  // left: 70px;
  font-size: 2rem;
  font-family: $title-font;
  // border : 1px solid red;
}

.nav_buttons {
  // border : 1px solid red;
  // padding : 1rem;
}

.nav-btn {
  // width: 110px;
  // height: 90px;
  font-size: 16px;
  font-weight: 600;
  // font-family: $button-font;
  background-color: white;
  cursor: pointer;
  border-radius: 0;
  // border : 1px solid red;
  padding: 0.5rem 0.7rem;
  margin-right: 0.7rem;

  &:hover {
    // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 5px 2px rgba(11, 11, 11, 0.08);
    border-radius: 15px;
    // background-color: $button-blue;
    // border-radius: 30px;
    color: $button-blue;
    // color : $button-blue;
    font-weight: 800;
    transform: scale(0.98);
    transition: 0.2s ease-in-out;
    // border-bottom : 1px solid $medium-blue;
    // transition : border-bottom 1s linear;
  }

  &:focus {
    color: $medium-blue;
  }
}

// mobile ------------------------------------------------
.nav_buttons_moblie {
  border: 2px solid rgba(90, 116, 163, 0.3);
  border-radius: 2.5rem;
  position: fixed;
  bottom: 1rem;
  right: 12rem;
  //left : 1rem;
  //bottom : 1rem;
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.3rem;
  // width: 65%;
}

.nav-btn-mobile {
  padding: 0.3rem 0.5rem;
  margin: 0.2rem 0.4rem;
  background-color: transparent;
  // border : 1px solid pink;
  &:hover {
    color: pink;
  }
}

.nav_mobile-hide {
  display: none;
  div {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  .nav_web-hide {
    //display: none;
  }
  .nav_mobile-hide {
    //display: block;
  }
}
