@import './_variables.scss';

@keyframes RotateLogo {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

#nav {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1050;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-logo {
  padding-left: 0;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  animation: RotateLogo 5s linear infinite;
}

#nav_header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.nav-title {
  font-size: 2rem;
  font-family: $title-font;
}

.nav-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  border-radius: 0;
  padding: 0.5rem 0.7rem;
  margin-right: 0.7rem;

  &:hover {
    border-radius: 15px;
    color: $button-blue;
    font-weight: 800;
    transform: scale(0.98);
    transition: 0.2s ease-in-out;
  }

  &:focus {
    color: $medium-blue;
  }
}

@media screen and (max-width: 768px) {
  #nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
}
